{% extends "eventregistration/change_options.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>
{% endblock %}

{% block contenthead %}{% trans "Change your registration" %}{% endblock %}

{% block sub_content_head %}
{% include "simpleregistration/parts/menu.html" %}
{% endblock %}

{% block content %}

{% trans "<p>You can change parts of your registration below. Please notice that we will lock your registration as soon as we register your payment. If you want to change your registration after this time you will need to get in touch with us.</p>" %}

{{ block.super }}
{% endblock %}