<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Avacon tilmelding</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
<div id="global">
	<span id="banner"><a href="http://avacon.dk">Avacon Tilmelding</a></span>

	<div id="content" style="margin-bottom: 20px;">
	<div id="inner-content">
		<h1>500: Server Error</h1>

		<h2>Dansk</h2>
		<p>Der er desværre sket en fejl på siden. En server administrator er blevet underrettet og vil hurtigst muligt forsøge at udbedre fejlen. Du kan eventuelt forsøge igen senere.</p>

		<p>Har du spørgsmål er du velkommen til at skrive en e-mail til <a href="mailto:the@sema.dk">vores tekniker</a>.</p>

		<h2>English</h2>
		<p>An error occured when processing your request. A server administrator have been notified and will try to fix the problem as soon as possible. Please try again later.</p>

		<p>If you have any questions then send an e-mail to <a href="mailto:the@sema.dk">our technical staff</a>.</p>

		&nbsp;
	</div>
	</div>

</div>

<p id="copyright">Copyright 2009 - 2013 &copy; Avacon<br/>Powered by <a href="https://github.com/animekita/selvbetjening/">Selvbetjening</a></p>

</body>
</html>